<p>form-promocode works!</p>

<div class="container">
    <form [formGroup]="formPromocode">
    
        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Promo Code</span>
            </div>
            <input type="text" aria-label="promoCode" id="promoCode" name="promoCode" formControlName="promoCode" class="form-control">
           <div *ngIf="promoCode!.touched && promoCode!.invalid" class="alert alert-danger">
            promoCode is required
           </div>
          </div>
    <br>
    <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Discount</span>
          </div>
          <textarea type="text" aria-label="Discount" id="Discount" name="Discount" formControlName="Discount"  class="form-control"></textarea>
       <div  *ngIf="Discount!.touched && Discount!.invalid" class="alert alert-danger">
        Discount is required
       
       </div>
    
       
     
       
        </div>
          <br>
          <input type="submit" (click)="add()">
    
    </form>
    
    </div>