<main>
  <section class="teacher__area pt-50 pb-110">
    <div class="page__title-shape">
      <img
        class="page-title-shape-5 d-none d-sm-block"
        src="assets/images/page-title/page-title-shape-1.png"
        alt=""
      />
      <img
        class="page-title-shape-6"
        src="assets/images/page-title/page-title-shape-6.png"
        alt=""
      />
      <img
        class="page-title-shape-3"
        src="assets/images/page-title/page-title-shape-3.png"
        alt=""
      />
      <img
        class="page-title-shape-7"
        src="assets/images/page-title/page-title-shape-4.png"
        alt=""
      />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
          <div class="teacher__details-thumb p-relative w-img pr-30">
            <div class="uni__img__container">
              <img
                class="uni__img"
                [src]="uploadUrl + currentClub?.imgUrl"
                alt=""
              />
            </div>
            <div class="teacher__details-shape">
              <img
                class="teacher-details-shape-1"
                src="assets/images/teacher/details/shape/shape-1.png"
                alt=""
              />
              <img
                class="teacher-details-shape-2"
                src="assets/images/teacher/details/shape/shape-2.png"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="col-xxl-8 col-xl-8 col-lg-8">
          <div class="teacher__wrapper">
            <div
              class="teacher__top d-md-flex align-items-end justify-content-between"
            >
              <div class="teacher__info">
                <h4 style="margin-bottom: 1.2rem">
                  {{ "" + currentClub?.courseTitle | uppercase }}
                </h4>

                <div style="margin-top: 0.3rem"></div>
                <span
                  ><strong>Universite:</strong>
                  {{ currentClub?.specialite.nomUniversite }}</span
                >
              </div>
            </div>
            <div class="teacher__bio">
              <h3>Description</h3>
              <p>{{ currentClub?.courseDescription }}</p>
            </div>
          </div>
        </div>
        <div class="teacher__courses pt-55">
          <div class="section__title-wrapper mb-30">
            <h2 class="section__title">
              List
              <span class="yellow-bg yellow-bg-big"
                >Lesson<img
                  src="assets/images/shape/yellow-bg.png"
                  style="margin-bottom: -1.2rem; margin-left: 0.6rem"
                  alt=""
              /></span>
            </h2>
          </div>
          <div class="teacher__course-wrapper">
            <mat-card class="cardWithShadow">
              <mat-card-content>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="contact__form-input" style="display: flex">
                      <input
                        style="background-color: transparent"
                        type="text"
                        placeholder="Search"
                        id="search"
                        name="search"
                        [(ngModel)]="searchInput"
                      />
                      <i-tabler
                        style="margin: 1.5rem 0 0 -2.2rem; color: #cacaca"
                        class="routeIcon"
                        name="search"
                        matListItemIcon
                      ></i-tabler>
                    </div>
                  </div>
                  <div class="col-sm-8 text-right">
                    <button
                      type="button"
                      mat-flat-button
                      class="Extended-Fab"
                      (click)="openAddEventDialog()"
                    >
                      <span class="Extended-Fab__container">
                        <i-tabler
                          style="margin-right: 0.5rem"
                          class="routeIcon Extended-Fab__icon"
                          name="circle-plus"
                          matListItemIcon
                        ></i-tabler>
                        <span class="Extended-Fab__text">Add Event</span>
                      </span>
                    </button>
                  </div>
                </div>

                <div class="col" style="margin-top: 2rem">
                  <mat-card class="cardWithShadow">
                    <div class="table-responsive m-t-16">
                      <table mat-table [dataSource]="dataSource" class="w-100">
                        <!-- nom Column -->
                        <ng-container matColumnDef="nomLesson">
                          <th
                            mat-header-cell
                            *matHeaderCellDef
                            class="f-w-600 mat-subtitle-1 f-s-14"
                          >
                            Name
                          </th>
                          <td mat-cell *matCellDef="let element">
                            <div
                              class="d-flex align-items-center justify-content-start"
                            >
                              <div class="tableImage__container">
                                <video
                                  [src]="uploadUrl + element.imageLesson"
                                  width="40"
                                  style="border-radius: 0.6rem"
                                  class="tableVideo"
                                  controls
                                ></video>
                              </div>

                              <div class="">
                                <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                                  {{ element.nomLesson }}
                                </h6>
                                <!-- <span class="mat-body-1 f-s-12">
                                                                  #1
                                                              </span> -->
                              </div>
                            </div>
                          </td>
                        </ng-container>

                        <!-- dateDeb Column -->
                        <ng-container matColumnDef="dateDebLesson">
                          <th
                            mat-header-cell
                            *matHeaderCellDef
                            class="f-w-600 mat-subtitle-1 f-s-14"
                          >
                            Start Date
                          </th>
                          <td
                            mat-cell
                            *matCellDef="let element"
                            class="mat-body-1"
                          >
                            {{ element.dateDebLesson | date : "yyyy-MM-dd" }}
                          </td>
                        </ng-container>

                        <!-- dateFin Column -->
                        <ng-container matColumnDef="dateFinLesson">
                          <th
                            mat-header-cell
                            *matHeaderCellDef
                            class="f-w-600 mat-subtitle-1 f-s-14"
                          >
                            End Date
                          </th>
                          <td
                            mat-cell
                            *matCellDef="let element"
                            class="mat-body-1"
                          >
                            {{ element.dateFinLesson | date : "yyyy-MM-dd" }}
                          </td>
                        </ng-container>

                        <!-- description Column -->
                        <ng-container matColumnDef="descriptionLesson">
                          <th
                            mat-header-cell
                            *matHeaderCellDef
                            class="f-w-600 mat-subtitle-1 f-s-14"
                          >
                            Description
                          </th>
                          <td
                            [appShowDescriptionDialog]="
                              element.descriptionLesson
                            "
                            mat-cell
                            *matCellDef="let element"
                            class="mat-body-1 descriptionColumn"
                          >
                            {{
                              element.descriptionLesson.length > 20
                                ? element.descriptionLesson.substring(0, 20) +
                                  "..."
                                : element.descriptionLesson
                            }}
                          </td>
                        </ng-container>

                        <!-- action Column -->
                        <ng-container matColumnDef="action">
                          <th
                            mat-header-cell
                            *matHeaderCellDef
                            class="f-w-600 mat-subtitle-1 f-s-14"
                          >
                            #Action
                          </th>
                          <td
                            mat-cell
                            *matCellDef="let element"
                            class="mat-body-1"
                          >
                            <div style="display: flex">
                              <a
                                (click)="openUpdateDialog(element.idEvent)"
                                type="button"
                                mat-icon-button=""
                                color="primary"
                                class="d-flex mdc-icon-button mat-mdc-icon-button mat-primary mat-mdc-button-base"
                                mat-button-is-fab="false"
                              >
                                <span
                                  class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple"
                                ></span
                                ><i-tabler
                                  style="color: #87a7ff"
                                  name="edit"
                                  class="icon-20"
                                  _nghost-ng-c2034356942=""
                                >
                                </i-tabler
                                ><span class="mat-mdc-focus-indicator"></span
                                ><span
                                  class="mat-mdc-button-touch-target"
                                ></span
                                ><span class="mat-mdc-button-ripple"></span>
                              </a>

                              <span class="m-x-1"></span>

                              <a
                                (click)="onDeleteEvent(element.idEvent)"
                                type="button"
                                mat-icon-button=""
                                color="primary"
                                class="d-flex mdc-icon-button mat-mdc-icon-button mat-primary mat-mdc-button-base"
                                mat-button-is-fab="false"
                              >
                                <span
                                  class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple"
                                ></span
                                ><i-tabler
                                  style="color: #ff8e8e"
                                  name="trash"
                                  class="icon-20"
                                  _nghost-ng-c2034356942=""
                                >
                                </i-tabler
                                ><span class="mat-mdc-focus-indicator"></span
                                ><span
                                  class="mat-mdc-button-touch-target"
                                ></span
                                ><span class="mat-mdc-button-ripple"></span>
                              </a>
                            </div>
                          </td>
                        </ng-container>

                        <tr
                          mat-header-row
                          *matHeaderRowDef="displayedColumns"
                        ></tr>
                        <tr
                          mat-row
                          *matRowDef="let row; columns: displayedColumns"
                        ></tr>
                      </table>
                    </div>
                  </mat-card>
                </div>
                <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
