.tableImage {
  &__container {
    width: 80px;
    height: 60px;
    border-radius: 2rem;
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
  }

  width: 100px;
  height: 100%;
  border-radius: 2rem;
  object-fit: cover;
}
.tableVideo {
  width: 100%;
  height: 100%;
}

.descriptionColumn {
  cursor: pointer;
}
