<!-- <mat-toolbar class="topbar">
  
  <button mat-icon-button (click)="toggleMobileNav.emit()" *ngIf="!showToggle">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>
  

  <button mat-icon-button aria-label="Notifications">
    <i-tabler
      class="d-flex"
      name="bell"
      matBadge="1"
      matBadgeColor="primary"
    ></i-tabler>
  </button>

  <span class="flex-1-auto"></span>

  
  <button
    mat-icon-button
    [matMenuTriggerFor]="profilemenu"
    aria-label="Notifications"
  >
    <img
      src="/assets/images/profile/user-1.jpg"
      class="rounded-circle object-cover"
      style="width: 50px; height: 50px; transform: translate(-30%, -30%)"
      alt="avatar"
    />
  </button>
  <mat-menu #profilemenu="matMenu" class="topbar-dd cardWithShadow">
    <button mat-menu-item>
      <mat-icon class="d-flex align-items-center"
        ><i-tabler name="user" class="icon-18 d-flex"></i-tabler></mat-icon
      >My Profile
    </button>
    <button mat-menu-item>
      <mat-icon class="d-flex align-items-center"
        ><i-tabler name="mail" class="icon-18 d-flex"></i-tabler></mat-icon
      >My Account
    </button>
    <button mat-menu-item>
      <mat-icon class="d-flex align-items-center"
        ><i-tabler
          name="list-check"
          class="icon-18 d-flex"
        ></i-tabler></mat-icon
      >My Task
    </button>

    <div class="p-x-12 m-t-12">
      <a
        [routerLink]="['/authentication/login']"
        mat-stroked-button
        color="primary"
        class="w-100"
        >Logout</a
      >
    </div>
  </mat-menu>
</mat-toolbar> -->

<nav class="dash__top-bar">
  <ul class="navigation__list">
    <li class="navigation__item">
      <a
        href="./user-side-courses.html"
        class="navigation__link user-side__top-bar__link"
        >Go to Student view</a
      >
    </li>
  </ul>
  <div class="dash__top-bar__container__left">
    <a [routerLink]="['/authentication/login']">
      <div class="dash__top-bar__svg-container">
        <svg
          class="dash__top-bar__svg"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 46.917 46.917"
        >
          <g id="logout-icon" transform="translate(0 -0.004)">
            <path
              id="Path_1043"
              data-name="Path 1043"
              d="M29.323,25.417a1.954,1.954,0,0,0-1.955,1.955v7.82a1.957,1.957,0,0,1-1.955,1.955H19.548V7.823a3.94,3.94,0,0,0-2.662-3.716l-.579-.194h9.106a1.957,1.957,0,0,1,1.955,1.955v5.865a1.955,1.955,0,0,0,3.909,0V5.868A5.872,5.872,0,0,0,25.413,0H4.4a1.535,1.535,0,0,0-.209.043C4.1.039,4.005,0,3.91,0A3.913,3.913,0,0,0,0,3.913V39.1a3.94,3.94,0,0,0,2.662,3.716l11.765,3.922a4.047,4.047,0,0,0,1.212.182,3.913,3.913,0,0,0,3.909-3.91V41.056h5.865a5.872,5.872,0,0,0,5.865-5.865v-7.82a1.954,1.954,0,0,0-1.955-1.955Zm0,0"
              fill="currentColor"
            />
            <path
              id="Path_1044"
              data-name="Path 1044"
              d="M298.263,115.058l-7.82-7.819a1.954,1.954,0,0,0-3.337,1.382v5.865h-7.819a1.955,1.955,0,1,0,0,3.909h7.819v5.865a1.954,1.954,0,0,0,3.337,1.382l7.82-7.82a1.953,1.953,0,0,0,0-2.764Zm0,0"
              transform="translate(-251.919 -96.888)"
              fill="currentColor"
            />
          </g>
        </svg>
      </div>
    </a>

    <div class="divider"></div>

    <!-- <a href="#">
                            <div class="dash__top-bar__svg-container">
                                <svg class="dash__top-bar__svg" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 43.026 34.421">
                                    <g id="message-icon" transform="translate(0)">
                                        <path id="Path_1045" data-name="Path 1045"
                                            d="M43.921,8.5A5.284,5.284,0,0,0,38.711,4H6.266a5.284,5.284,0,0,0-5.21,4.5L22.489,22.371Z"
                                            transform="translate(-0.976 -4)" fill="currentColor" />
                                        <path id="Path_1046" data-name="Path 1046"
                                            d="M23.292,22.9a1.434,1.434,0,0,1-1.558,0L1,9.486V30.748a5.3,5.3,0,0,0,5.291,5.291H38.735a5.3,5.3,0,0,0,5.291-5.291V9.485Z"
                                            transform="translate(-1 -1.618)" fill="currentColor" />
                                    </g>
                                </svg>
                            </div>
                        </a> -->

    <script>
      $(document).ready(function () {
        $(".notification_icon").click(function () {
          $(".dropdown").toggleClass("active");
        });
      });
    </script>
    <div class="notification_wrap">
      <div class="dash__top-bar__svg-container">
        <div style="position: relative" class="notification_icon">
          <span class="cart-icon__span">3 </span>
          <svg
            class="dash__top-bar__svg"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:svgjs="http://svgjs.com/svgjs"
            x="0"
            y="0"
            viewBox="0 0 48 48"
            style="enable-background: new 0 0 512 512"
            xml:space="preserve"
          >
            <g>
              <g xmlns="http://www.w3.org/2000/svg" id="Line">
                <path
                  d="m24 2a15 15 0 0 0 -15 15v11.7l-3.32 5a4.08 4.08 0 0 0 3.39 6.3h29.86a4.08 4.08 0 0 0 3.39-6.33l-3.32-4.97v-11.7a15 15 0 0 0 -15-15z"
                  fill="currentColor"
                  data-original="currentColor"
                ></path>
                <path
                  d="m24 46a6 6 0 0 0 5.65-4h-11.3a6 6 0 0 0 5.65 4z"
                  fill="currentColor"
                  data-original="currentColor"
                ></path>
              </g>
            </g>
          </svg>
        </div>
      </div>

      <div class="dropdown">
        <div class="notify_item">
          <div class="notify_img">
            <img
              src="../uploads/defaultUserImage.png"
              alt=""
              style="width: 50px"
            />
          </div>
          <div class="notify_info">
            <p><span>bbbbbb</span> bgbgb</p>
            <span class="notify_time">10 minutes ago</span>
          </div>
          <div class="notify_read">
            <a style="text-decoration: none; color: inherit" href="">
              <svg
                class="notify_read_icon"
                xmlns="http://www.w3.org/2000/svg"
                version="1.1"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:svgjs="http://svgjs.com/svgjs"
                x="0"
                y="0"
                viewBox="0 0 32 32"
                style="enable-background: new 0 0 512 512"
                xml:space="preserve"
              >
                <g>
                  <path
                    xmlns="http://www.w3.org/2000/svg"
                    d="m16 5.5c-6.76001 0-13 3.94-15.89996 10.04999-.13.28998-.13.63 0 .90997 2.90997 6.10004 9.14996 10.04004 15.89996 10.04004s12.98999-3.94 15.90002-10.04004c.13-.27997.13-.62 0-.90997-2.90002-6.10999-9.14001-10.04999-15.90002-10.04999zm0 16.83997c-3.48999 0-6.33997-2.84998-6.33997-6.33997s2.84998-6.34003 6.33997-6.34003 6.34003 2.85004 6.34003 6.34003-2.85004 6.33997-6.34003 6.33997z"
                    fill="currentColor"
                    data-original="currentColor"
                  ></path>
                  <circle
                    xmlns="http://www.w3.org/2000/svg"
                    cx="16"
                    cy="16"
                    r="4.2"
                    fill="currentColor"
                    data-original="currentColor"
                  ></circle>
                </g>
              </svg>
              <p class="notify_read_text">Mark as read</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="dash__top-bar__container__right">
    <h1 class="dash__top-bar__fullname">Ghoul kaiss</h1>
    <div class="dash__top-bar__img-container">
      <a href="">
        <img
          class="dash__top-bar__img"
          src="../../../../assets/contents/img/user1.jpg"
          alt=""
        />
      </a>
    </div>
  </div>
</nav>
