<app-pub></app-pub>
<main class="course-detail__container">
  <div class="course-detail__content">
    <div *ngIf="videoDetails">
      <h2>{{ videoDetails.snippet.title }}</h2>
      <p>Date de publication : {{ videoDetails.snippet.publishedAt }}</p>

      <iframe
        width="560"
        height="315"
        [src]="videoUrl"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>

    <div *ngIf="definition">
      <h2>Definition:</h2>
      <p>{{ definition }}</p>
    </div>

    <div class="course-detail__content__owner">
      <h2 class="course-detail__content__owner__name">
        <span>By </span> fullname
      </h2>

      <h2 class="course-detail__content__owner__category">
        {{ currentClub?.specialite.nomUniversite }}
      </h2>
    </div>

    <!--<div class="course-detail__content__cover__container">
      <img
        [src]="uploadUrl + currentClub?.imgUrl"
        alt=""
        class="course-detail__content__cover"
      />
    </div>-->

    <p class="course-detail__content__description__parag">description</p>
    <div class="course-detail__content__chapters">
      <h2 class="course-detail__content__chapters__title">What you'll learn</h2>

      <div class="course-detail__content__chapters__container">
        <div
          class="course-detail__content__chapters__item"
          id="outcome_list_id"
        >
          <!-- <img src="../../../assets/contents/img/chapter-icon.png" alt="" class="course-detail__content__chapters__item__icon"> -->
          <span
            class="course-detail__content__chapters__item__icon"
            style="color: #585856"
            ><i class="fas fa-check"></i
          ></span>
          <p class="course-detail__content__chapters__item__title">
            {{ currentClub?.courseDescription }}
          </p>
        </div>

        <div
          class="course-detail__content__chapters__item"
          id=""
          style="display: none"
        >
          <!-- <img src="../../../assets/contents/img/chapter-icon.png" alt="" class="course-detail__content__chapters__item__icon"> -->
          <span
            class="course-detail__content__chapters__item__icon"
            style="color: #585856"
            ><i class="fas fa-check"></i
          ></span>
          <p class="course-detail__content__chapters__item__title">
            out_content
          </p>
        </div>
      </div>
    </div>

    <div class="course__content">
      <h2 class="course__content__title">Contents</h2>

      <div class="course__content__chapter" onclick="show_lessons_btn( x='')">
        <h2 class="course__content__chapter__title course__content__chapter-v1">
          <div class="chapter_elements_line">
            <div>
              <img
                src="../../../assets/contents/img/chapter-icon.png"
                style="width: 4rem; padding-right: 1.5rem"
                alt=""
                class="course-detail__buy__option__item__icon"
              />
              chapter_title
            </div>

            <div id="">
              <span style="padding-left: 1rem; font-size: 1.75rem"
                ><i class="far fa-chevron-down"></i
              ></span>
            </div>

            <div id="" style="display: none">
              <span style="padding-left: 1rem; font-size: 1.75rem"
                ><i class="far fa-chevron-up"></i
              ></span>
            </div>
          </div>
        </h2>
      </div>

      <!--afficher tous les chapitres-->

      <div
        class="course__content__chapter"
        id=""
        onclick="show_lessons_btn( x='')"
        style="display: none"
      >
        <h2 class="course__content__chapter__title course__content__chapter-v1">
          <div class="chapter_elements_line">
            <div>
              <img
                src="../../../assets/contents/img/chapter-icon.png"
                style="width: 4rem; padding-right: 1.5rem"
                alt=""
                class="course-detail__buy__option__item__icon"
              />
              chapter_title
            </div>

            <div id="">
              <span style="padding-left: 1rem; font-size: 1.75rem"
                ><i class="far fa-chevron-down"></i
              ></span>
            </div>
            <div id="" style="display: none">
              <span style="padding-left: 1rem; font-size: 1.75rem"
                ><i class="far fa-chevron-up"></i
              ></span>
            </div>
          </div>
        </h2>

        <!--- ----- ----- ---- ------ ---- ----->
        <div id="" style="display: none">
          <a style="text-decoration: none" href="#">
            <div class="course__content__lesson">
              <img
                src="../../../assets/contents/img/play-button.png"
                alt=""
                class="course__content__lesson__icon"
              />

              <span class="course__content__lesson__icon" style="color: #585856"
                ><i class="fas fa-question-circle fa-lg"></i
              ></span>

              <p class="course__content__lesson__title"></p>
            </div>
          </a>
        </div>
      </div>

      <div class="course__card-v2" *ngFor="let element of dataSource.data">
        <div
          class="course__card-v2__img-container"
          *ngIf="element.descriptionLesson !== 'meet'"
        >
          <video
            [src]="uploadUrl + element.imageLesson"
            width="100%"
            style="border-radius: 0.6rem"
            class="course__card-v2__img"
            controls
          ></video>
        </div>

        <div
          class="course__card-v2__img-container"
          *ngIf="element.descriptionLesson == 'meet'"
        >
          <img
            [src]="uploadUrl + 'download.png'"
            width="100%"
            style="border-radius: 0.6rem"
            class="course__card-v2__img"
            alt="Course Image"
          />
        </div>

        <div class="course__card-v2__content">
          <h1 class="course__card-v2__title2"></h1>
          <p class="course__card-v2__title2__instructor">
            <span>Created By</span> Kaiss ghoul
          </p>

          <div
            class="course__card-v2__cate-action"
            *ngIf="element.descriptionLesson !== 'meet'"
          >
            <div class="course__card-v2__category">
              {{ element.nomLesson }}
            </div>

            {{ element.dateDebLesson }}

            <div class="course__card-v2__action-btns">
              <a
                class="course__card-v2__btn course__card-v2__btn-view"
                [routerLink]="'../../lesson/' + element.idEvent"
              >
                <svg
                  class="course__card-v2__btn-icon"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 31.995 21"
                >
                  <g id="see-icon" transform="translate(-0.002 -5.5)">
                    <path
                      id="Path_1047"
                      data-name="Path 1047"
                      d="M16,5.5A17.674,17.674,0,0,0,.1,15.55a1.11,1.11,0,0,0,0,.91,17.61,17.61,0,0,0,31.8,0,1.11,1.11,0,0,0,0-.91A17.674,17.674,0,0,0,16,5.5Zm0,16.84A6.34,6.34,0,1,1,22.34,16,6.355,6.355,0,0,1,16,22.34Z"
                      fill="#fff"
                    />
                    <circle
                      id="Ellipse_34"
                      data-name="Ellipse 34"
                      cx="4.2"
                      cy="4.2"
                      r="4.2"
                      transform="translate(11.8 11.8)"
                      fill="#fff"
                    />
                  </g>
                </svg>
              </a>
            </div>
          </div>
          <div
            class="course__card-v2__cate-action"
            *ngIf="element.descriptionLesson == 'meet'"
          >
            <div class="course__card-v2__category">
              {{ element.descriptionLesson }}
            </div>

            {{ element.dateDebLesson }}

            <div class="course__card-v2__action-btns">
              <a
                class="course__card-v2__btn course__card-v2__btn-view"
                [routerLink]="'../../zoom/' + element.descriptionLesson"
              >
                <svg
                  class="course__card-v2__btn-icon"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 31.995 21"
                >
                  <g id="see-icon" transform="translate(-0.002 -5.5)">
                    <path
                      id="Path_1047"
                      data-name="Path 1047"
                      d="M16,5.5A17.674,17.674,0,0,0,.1,15.55a1.11,1.11,0,0,0,0,.91,17.61,17.61,0,0,0,31.8,0,1.11,1.11,0,0,0,0-.91A17.674,17.674,0,0,0,16,5.5Zm0,16.84A6.34,6.34,0,1,1,22.34,16,6.355,6.355,0,0,1,16,22.34Z"
                      fill="#fff"
                    />
                    <circle
                      id="Ellipse_34"
                      data-name="Ellipse 34"
                      cx="4.2"
                      cy="4.2"
                      r="4.2"
                      transform="translate(11.8 11.8)"
                      fill="#fff"
                    />
                  </g>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="course-detail__divider"></div>

  <div class="course-detail__buy">
    <a href="./logIn.html" class="course-detail__buy__btn">
      Buy this course
      <img
        src="../../../assets/contents/img/cart-icon.png"
        alt=""
        class="course-detail__buy__btn-icon"
      />
    </a>

    <div class="course-detail__buy__option__container">
      <div class="course-detail__buy__option__item">
        <span
          class="course-detail__buy__option__item__icon"
          style="color: #636361"
          ><i class="far fa-file-certificate fa-2x"></i
        ></span>
        <p class="course-detail__buy__option__item__title">
          Shareable Certificate
        </p>
      </div>

      <div class="course-detail__buy__option__item">
        <span
          class="course-detail__buy__option__item__icon"
          style="color: #636361"
          ><i class="fal fa-globe fa-2x"></i
        ></span>
        <p class="course-detail__buy__option__item__title">
          100% online courses
        </p>
      </div>

      <div class="course-detail__buy__option__item">
        <img
          src="../../../assets/contents/img/video-icon-2.png"
          alt=""
          class="course-detail__buy__option__item__icon"
        />
        <p class="course-detail__buy__option__item__title">count_lessons</p>
      </div>

      <div class="course-detail__buy__option__item">
        <img
          src="../../../assets/contents/img/chapter-icon.png"
          alt=""
          class="course-detail__buy__option__item__icon"
        />
        <p class="course-detail__buy__option__item__title">count_chapters</p>
      </div>

      <div class="course-detail__buy__option__item">
        <img
          src="../../../assets/contents/img/infinity-icon.png"
          alt=""
          class="course-detail__buy__option__item__icon"
        />
        <p class="course-detail__buy__option__item__title">
          Full lifetime access
        </p>
      </div>

      <div class="course-detail__buy__option__item">
        <img
          src="../../../assets/contents/img/level-icon.png"
          alt=""
          class="course-detail__buy__option__item__icon"
        />
        <p class="course-detail__buy__option__item__title">
          Level: <span>level</span>
        </p>
      </div>
    </div>
  </div>
</main>
