<main>
  <!-- <div class="bg-light-primary rounded p-y-30 p-x-24 m-b-30 overflow-hidden ng-star-inserted">
        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title m-0 f-s-20 f-w-600 m-b-16">Universitie detail</h4>
                <div class="d-flex align-items-center overflow-hidden"></div>
            </div>
            <div class="col-sm-4 text-right position-relative">
                <div class="breadcrumb-icon">
                    <img src="/assets/images/breadcrumb/ChatBc.png" alt="breadcrumb" width="165" />
                </div>
            </div>
        </div>
    </div> -->

  <section class="teacher__area pt-50 pb-110">
    <div class="page__title-shape">
      <img
        class="page-title-shape-5 d-none d-sm-block"
        src="assets/images/page-title/page-title-shape-1.png"
        alt=""
      />
      <img
        class="page-title-shape-6"
        src="assets/images/page-title/page-title-shape-6.png"
        alt=""
      />
      <img
        class="page-title-shape-3"
        src="assets/images/page-title/page-title-shape-3.png"
        alt=""
      />
      <img
        class="page-title-shape-7"
        src="assets/images/page-title/page-title-shape-4.png"
        alt=""
      />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
          <div class="teacher__details-thumb p-relative w-img pr-30">
            <div class="uni__img__container">
              <img
                class="uni__img"
                src="assets/images/teacher/esprit.jpg"
                alt=""
              />
            </div>
            <div class="teacher__details-shape">
              <img
                class="teacher-details-shape-1"
                src="assets/images/teacher/details/shape/shape-1.png"
                alt=""
              />
              <img
                class="teacher-details-shape-2"
                src="assets/images/teacher/details/shape/shape-2.png"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="col-xxl-8 col-xl-8 col-lg-8">
          <div class="teacher__wrapper">
            <div
              class="teacher__top d-md-flex align-items-end justify-content-between"
            >
              <div class="teacher__info">
                <h4>ESPRIT</h4>
                <span>se former autrement</span>
              </div>

              <div class="teacher__social-2 m-t-32">
                <h4>Follow Us</h4>
                <ul>
                  <li>
                    <a
                      href="#"
                      mat-icon-button
                      class="d-flex mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
                    >
                      <i-tabler
                        style="color: #3967ff; font-weight: 100"
                        class="routeIcon Extended-Fab__icon"
                        name="brand-facebook"
                        matListItemIcon
                      ></i-tabler>
                    </a>
                  </li>
                  <li>
                    <a
                      href="#"
                      mat-icon-button
                      class="d-flex mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
                    >
                      <i-tabler
                        style="color: #292929; font-weight: 100"
                        class="routeIcon Extended-Fab__icon"
                        name="brand-x"
                        matListItemIcon
                      ></i-tabler>
                    </a>
                  </li>
                  <li>
                    <a
                      href="#"
                      mat-icon-button
                      class="d-flex mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
                    >
                      <i-tabler
                        style="color: #6f90ff; font-weight: 100"
                        class="routeIcon Extended-Fab__icon"
                        name="brand-linkedin"
                        matListItemIcon
                      ></i-tabler>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="teacher__bio">
              <h3>Short Bio</h3>
              <p>
                Only a quid me old mucker squiffy tomfoolery grub cheers ruddy
                cor blimey guvnor in my flat, up the duff Eaton car boot up the
                kyver pardon you A bit of how's your father David skive off
                sloshed, don't get shirty with me chip shop vagabond crikey
                bugger Queen's English chap. Matie boy nancy boy bite your arm
                off up the kyver old no biggie fantastic boot, David have it
                show off show off pick your nose and blow off lost the plot
                porkies bits and bobs only a quid bugger all mate, absolutely
                bladdered bamboozled it's your round don't get shirty with me
                down the pub well.
              </p>
            </div>
          </div>
        </div>
        <div class="teacher__courses pt-55">
          <div class="section__title-wrapper mb-30">
            <h2 class="section__title">
              University
              <span class="yellow-bg yellow-bg-big"
                >News<img
                  src="assets/images/shape/yellow-bg.png"
                  style="margin-bottom: -1.3rem; margin-left: 0.6rem"
                  alt=""
              /></span>
            </h2>
          </div>
          <div class="teacher__course-wrapper">
            <div class="row">
              <mat-card class="cardWithShadow">
                <mat-card-content>
                  <div class="row">
                    <div class="col-sm-4">
                      <!-- <mat-card-title>Users list</mat-card-title> -->
                      <div class="contact__form-input" style="display: flex">
                        <input
                          style="background-color: transparent"
                          type="text"
                          placeholder="Search"
                          id="search"
                          name="search"
                        />
                        <i-tabler
                          style="margin: 1.5rem 0 0 -2.2rem; color: #cacaca"
                          class="routeIcon"
                          name="search"
                          matListItemIcon
                        ></i-tabler>
                      </div>
                    </div>
                    <div class="col-sm-8 text-right">
                      <button
                        type="button"
                        mat-flat-button
                        class="Extended-Fab"
                        (click)="openAddNewsDialog()"
                      >
                        <span class="Extended-Fab__container">
                          <i-tabler
                            class="routeIcon Extended-Fab__icon"
                            name="circle-plus"
                            matListItemIcon
                          ></i-tabler>
                          <span class="Extended-Fab__text">Add news</span>
                        </span>
                      </button>
                    </div>
                  </div>

                  <div class="col" style="margin-top: 2rem">
                    <mat-card class="cardWithShadow">
                      <div class="table-responsive m-t-16">
                        <table
                          mat-table
                          [dataSource]="dataSource"
                          class="w-100"
                        >
                          <!-- Position Column -->
                          <ng-container matColumnDef="name">
                            <th
                              mat-header-cell
                              *matHeaderCellDef
                              class="f-w-600 mat-subtitle-1 f-s-14"
                            >
                              Name
                            </th>
                            <td mat-cell *matCellDef="let element">
                              <div class="d-flex align-items-center">
                                <img
                                  [src]="element.imagePath"
                                  alt="users"
                                  width="40"
                                  class="rounded-circle"
                                />
                                <div class="m-l-16">
                                  <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                                    {{ element.uname }}
                                  </h6>
                                  <!-- <span class="mat-body-1 f-s-12">
                                                                        {{ element.role }}
                                                                    </span> -->
                                </div>
                              </div>
                            </td>
                          </ng-container>

                          <!-- Name Column -->
                          <ng-container matColumnDef="email">
                            <th
                              mat-header-cell
                              *matHeaderCellDef
                              class="f-w-600 mat-subtitle-1 f-s-14"
                            >
                              Email
                            </th>
                            <td
                              mat-cell
                              *matCellDef="let element"
                              class="mat-body-1"
                            >
                              {{ element.email }}
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="tel">
                            <th
                              mat-header-cell
                              *matHeaderCellDef
                              class="f-w-600 mat-subtitle-1 f-s-14"
                            >
                              Tel
                            </th>
                            <td
                              mat-cell
                              *matCellDef="let element"
                              class="mat-body-1"
                            >
                              {{ element.tel }}
                            </td>
                          </ng-container>

                          <!-- Weight Column -->
                          <ng-container matColumnDef="state">
                            <th
                              mat-header-cell
                              *matHeaderCellDef
                              class="f-w-600 mat-subtitle-1 f-s-14"
                            >
                              State
                            </th>
                            <td mat-cell *matCellDef="let element">
                              <ng-template [ngIf]="element.state == 'active'">
                                <span
                                  class="bg-light-success text-success rounded f-w-600 p-6 p-y-4 f-s-12"
                                >
                                  {{ element.state | titlecase }}
                                </span>
                              </ng-template>
                              <ng-template [ngIf]="element.state == 'unactive'">
                                <span
                                  class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-12"
                                >
                                  {{ element.state | titlecase }}
                                </span>
                              </ng-template>
                            </td>
                          </ng-container>

                          <!-- Symbol Column -->
                          <ng-container matColumnDef="action">
                            <th
                              mat-header-cell
                              *matHeaderCellDef
                              class="f-w-600 mat-subtitle-1 f-s-14"
                            >
                              #action
                            </th>
                            <td
                              mat-cell
                              *matCellDef="let element"
                              class="mat-body-1"
                              style="display: flex"
                            >
                              <!-- <a type="button" href="#">
                                                <i-tabler class="routeIcson" style="color: #87a7ff" name="edit" matListItemIcon></i-tabler></a> -->

                              <a
                                [routerLink]="[
                                  '/dash/universities',
                                  element.id
                                ]"
                                mat-icon-button=""
                                color="primary"
                                class="d-flex mdc-icon-button mat-mdc-icon-button mat-primary mat-mdc-button-base"
                                mat-button-is-fab="false"
                              >
                                <span
                                  class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple"
                                ></span
                                ><i-tabler
                                  style="color: #8791ff"
                                  name="eye"
                                  class="icon-20"
                                  _nghost-ng-c2034356942=""
                                >
                                </i-tabler
                                ><span class="mat-mdc-focus-indicator"></span
                                ><span
                                  class="mat-mdc-button-touch-target"
                                ></span
                                ><span class="mat-mdc-button-ripple"></span>
                              </a>

                              <span class="m-x-1"></span>

                              <a
                                href="#"
                                mat-icon-button=""
                                color="primary"
                                class="d-flex mdc-icon-button mat-mdc-icon-button mat-primary mat-mdc-button-base"
                                mat-button-is-fab="false"
                              >
                                <span
                                  class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple"
                                ></span
                                ><i-tabler
                                  style="color: #87a7ff"
                                  name="edit"
                                  class="icon-20"
                                  _nghost-ng-c2034356942=""
                                >
                                </i-tabler
                                ><span class="mat-mdc-focus-indicator"></span
                                ><span
                                  class="mat-mdc-button-touch-target"
                                ></span
                                ><span class="mat-mdc-button-ripple"></span>
                              </a>

                              <span class="m-x-1"></span>

                              <a
                                href="#"
                                mat-icon-button=""
                                color="primary"
                                class="d-flex mdc-icon-button mat-mdc-icon-button mat-primary mat-mdc-button-base"
                                mat-button-is-fab="false"
                              >
                                <span
                                  class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple"
                                ></span
                                ><i-tabler
                                  style="color: #ff8e8e"
                                  name="trash"
                                  class="icon-20"
                                  _nghost-ng-c2034356942=""
                                >
                                </i-tabler
                                ><span class="mat-mdc-focus-indicator"></span
                                ><span
                                  class="mat-mdc-button-touch-target"
                                ></span
                                ><span class="mat-mdc-button-ripple"></span>
                              </a>
                              <!-- <a type="button" class="btn btn-light" href="#">
                                                <i-tabler class="routeIcon" style="color: #ff8e8e" name="trash" matListItemIcon></i-tabler></a> -->
                            </td>
                          </ng-container>

                          <tr
                            mat-header-row
                            *matHeaderRowDef="displayedColumns"
                          ></tr>
                          <tr
                            mat-row
                            *matRowDef="let row; columns: displayedColumns"
                          ></tr>
                        </table>
                      </div>
                    </mat-card>
                  </div>
                  <mat-paginator
                    [pageSizeOptions]="[5, 10, 25]"
                  ></mat-paginator>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-chatboot></app-chatboot>
</main>
