<footer class="footer">
  <div class="footer__container">
    <img
      src="../../../assets/contents/img/logo-icon-nobg.png"
      alt=""
      class="footer__logo"
    />
    <div class="footer__content">
      <h1 class="footer__content__title">Get In Touch</h1>
      <p class="footer__content__parag">
        Follow us on Social media and stay updated with the latest information
        about our services
      </p>
      <div class="footer__content__social-media">
        <a target="_blank" href="https://www.facebook.com/"
          ><img
            src="../../../assets/contents/img/fb.png"
            alt=""
            class="social-media__logo footer__content__social-media-icon"
        /></a>

        <a target="_blank" href="https://twitter.com/"
          ><img
            src="../../../assets/contents/img/twitter.png"
            alt=""
            class="social-media__logo footer__content__social-media-icon"
        /></a>

        <a target="_blank" href="https://www.instagram.com/"
          ><img
            src="../../../assets/contents/img/insta.png"
            alt=""
            class="social-media__logo footer__content__social-media-icon"
        /></a>
      </div>
    </div>
  </div>
  <div class="footer__copyright__shape">
    <p class="footer__copyright__shape__txt">© 2021 All Right Reserved</p>
  </div>
</footer>
